#two-column ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

code {
    font-size: 14pt;
    line-height: 10px;
    margin: 10px;
}

h2 {
    font-size: 30pt !important;
    margin: 0px;
}

h3 {
    margin-bottom: 10px;
    line-height: 20px;
}

ul li {
    margin-left: 1em;
    line-height: 30px;
    padding-bottom: 0px;
}

ol li {
    margin-left: 1em;
    line-height: 30px;
    padding-bottom: 5px;
}

ul {
    list-style: outside bullet;
    margin-bottom: 5px;
}

h3 {
    color: darkslateblue;
    font-size: larger;
    font-weight: bold
}

.slide ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

figcaption {
    margin-top: -10px;
    margin-bottom: -5px;
    caption-side: top;
    font-size: 16pt;
}

#cover p {
    color: #FFF;
    font-size: 30px;
    line-height: 20px;
}

.title {
    background: rgba(0, 0, 0, 0);
    color: #FFF;
    line-height: 50px;
    font-size: 32pt !important;
}

.author {
    padding-top: 50px;
}

#cover h3 {
    position: absolute;
    top: 350px;
    left: 0;
    padding: 9px 0 0 104px;
    background: rgba(0, 0, 0, 0.2);
    color: #FFF;
    line-height: 54px;
    font-size: 40px;
}

.slide .shout {
    font-size: 100px !important;
}

.small {
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    font-family: Consolas, monospace !important;
}