#two-column ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

code {
    font-size: 14pt;
    line-height: 10px;
    margin: 10px;
}

h2 {
    font-size: 24pt;
    margin: 0px;
}

h3 {
    margin: 10px;
    line-height: 20px;
}

ul li {
    margin-left: 1em;
    line-height: 35px;
}

ul {
    list-style: outside bullet;
    margin-bottom: 5px;
}

h3 {
    color: darkslateblue;
    font-size: larger;
    font-weight: bold
}

.slide ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

figcaption {
    margin-top: -10px;
    margin-bottom: -5px;
    caption-side: top;
    font-size: 16pt;
}